.game-container {
  min-width: 1200px;
	height: 100vh;
	padding-top: 2em;
	margin-right: auto;
	margin-left: auto;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}

.bc-container {
	justify-content: center;
	align-items: center;
	align-content: space-between;
	margin: auto;
	margin-top: 20px;
	box-sizing: border-box;
	width: 50%;
	height: auto;
	display: flex;
}

.card-container {
	justify-content: center;
	align-items: center;
	align-content: space-between;

	margin: auto;
	margin-top: 20px;
	box-sizing: border-box;
	width: 50%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
}

.btn {
	margin: 5px;
	border-radius: 7.5px;
	border: none;
	width: 100px;
	height: auto;
	box-sizing: border-box;
	padding: 10px;
	font-weight: 700;
	font-family: 'Open Sans', sans-serif;
	cursor: pointer;
}

.btn-black {
	background-color: #202020;
	color: #fafafa;
}

.btn-white {
	background: #fafafa;
	color: #202020;
}

.game-top {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}