.game-container {
  min-width: 1200px;
	height: 100vh;
	padding-top: 2em;
	margin-right: auto;
	margin-left: auto;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	background-color: #fafafa;
}

.bc-container {
	justify-content: center;
	align-content: space-between;

	margin: 20px 0 20px 0;
	box-sizing: border-box;

	padding: 25px;

	width: auto;
	height: 400px;

	display: flex;
	flex-direction: row;

	background-color: #c2c2c2;
}

.wc-container {
	justify-content: center;

	margin: 20px 0 20px 0;
	box-sizing: border-box;

	padding: 25px;

	width: auto;
	height: 400px;

	display: flex;
	flex-direction: row;

	background-color: #c2c2c2;
}