.dark-body {
	background-color: #f8f8f8;
}

.section-header {
	padding: 0;
	margin: 0 0 5px 0;
}

.editor {
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
}

.section {
	max-width: 600px;
	min-width: 600px;
	background-color: #cfcfcf;
	border-radius: 5px;
	padding: 20px;
	margin-bottom: 20px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
}

.section-side {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
}

.framework-container {
	min-width: 600px;
	height: 100vh;
	margin-right: auto;
	margin-left: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-sizing: border-box;
}

.header-body {
	min-width: 600px;
	margin-top: 1em;
	text-align: center;
	font-weight: 600;
	font-size: 20px;
}

.header-body h5 {
	margin: 1em 0 1em 0;
}